In [1]:
sea = open('fishes.txt', 'r')
print(sea.read())

sea.close()

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [3]:
sea = open('fishes.txt', 'r')
print(sea.read(6))

sea.close()

Orca i

In [3]:
sea = open('fishes.txt', 'r')
sea.seek(5)
print(sea.read(20))

sea.close()

is a kind of Dolphin

In [4]:
sea = open('fishes.txt', 'r')
sea.seek(5)
print(sea.read(6))
print(sea.read(21))

sea.close()

is a k
ind of Dolphin.
Blue

In [6]:
rumi = open('rumi.txt')

print(rumi.read(35))

rumi.close()

I want to sing
Like the birds sing,

In [7]:
rumi = open('rumi.txt')

print(rumi.read(35))
print(rumi.read(13))
rumi.close()

I want to sing
Like the birds sing,

Not worrying

In [8]:
sea = open('fishes.txt')

print(sea.readline())
print(sea.readline())
print(sea.readline())

sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

In [13]:
sea = open('fishes.txt','r')

print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))

sea.close()

Orca is a kin
d of Dolphin.


Blue Whale is

In [14]:
sea = open('fishes.txt','r')

print(sea.readline())
print(sea.readlines())

sea.close()

Orca is a kind of Dolphin.

['Blue Whale is the largest animal known on earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.']

In [15]:
sea = open("fishes.txt",'r')

for line in sea:
    print(line)

sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [ ]:
sea = open("fishes.txt",'r')

for line in sea:
    print(line )

sea.close()

In [16]:
with open('fishes.txt','r') as sea:
    print(sea.read()
    )

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [19]:
with open('dummy.txt','w') as file:
    file.write('This is the first line')

with open('dummy.txt') as file:
    print(file.read())


with open('dummy.txt','w') as file:
    file.write('New line')

This is the first line

In [ ]:
satır satı yazma 

new line   "/Documents and Settings"
/ new line

In [22]:
fruits = ['banana', 'apple', 'orange']

with open('fruit.txt', 'w') as file:
    for fruit in fruits:
        file.write(fruit + '\n')

In [21]:
with open("fruits.txt", "w") as file:
    for fruit in fruits:
       file.write(f"{fruit}\n")

NameError: name 'fruits' is not defined

In [23]:
with open('fruit2.txt', 'a') as file:
    file.write('melon')

In [28]:
num_1 =250
num_2 = ["1, 2, 3, 5, 0, 8, 9, 'a', 20"]

res_list =[]

for num in  num_2:
    try:
        res_num= num_1/num
    except Exception as e:
        with open('error.log', 'a') as file:
            file.write(f'You have error {e}\n')
    else:
        res_list.append(res_num)
    finally:
        print ('This works every time')
      
print(res_list)

This works every time
[]